@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../vendor/fonts/fonts.css);
.root {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}
.header {
  border-bottom: 1px solid #545454;
  margin-bottom: 20px;
}
.header__title {
  text-align: center;
}
.main {
  max-width: 80%;
  display: flex;
  padding: 0 40px 0;
  margin: 0 auto;
}
.profiles {
  padding: 0 10px 0;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.profiles__title {
  font-size: 24px;
  padding: 0;
  margin: 0 0 20px;
  text-align: center;
}
.profiles__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  margin-bottom: 30px;
}
.user:hover {
  cursor: pointer;
}
.user__image {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin-bottom: 5px;
}
@media screen and (max-width: 320px) {
  .profiles__list {
    flex-direction: column;
  }
  .user__image {
    display: none;
  }
}
.user__name {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.album {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  padding: 0 0 10px;
  margin: 10px;
  background-color: #efeceb;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}
.album__title {
  color: #4c4c4c;
  text-decoration: none;
  text-align: left;
  align-self: baseline;
  padding: 0 5px 0;
}

.album__image {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}
.album__count {
  color: #292929;
}
.albums__title {
  font-size: 24px;
  min-height: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.albums__list {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photos__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px 0;
  list-style-type: none;
}
.photos__button {
  position: fixed;
  top: 40%;
  left: 10px;
}
.photo {
  background-color: #ffffff;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.photos__title {
  text-align: center;
}
.photo__image {
  width: 280px;
  height: 280px;
  object-fit: contain;
  margin-bottom: 10px;
}
.photo__image:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.photo__title {
  color: #000000;
  padding: 0 10px 0;
  text-align: center;
}
.disable {
  display: none;
}
@media screen and (max-width: 1000px) {
  .main {
    max-width: 90%;
  }
  .album {
    width: 150px;
  }
  .album__title {
    margin: 5px 0;
  }
  .album__image {
    height: 150px;
  }
  .album__count {
    margin: 12px 0 0;
  }
}
@media screen and (max-width: 800px) {
  .user {
    width: 80px;
  }
  .user__image {
    width: 80px;
    height: 80px;
  }
  .user__name {
    font-size: 12px;
  }
  .profiles__title {
    font-size: 16px;
  }
  .albums__title {
    font-size: 16px;
  }
  .album {
    width: 150px;
  }
  .album__image {
    height: 150px;
  }
}
@media screen and (max-width: 620px) {
  .profiles {
    margin-right: 20px;
  }
  .main {
    margin: 0;
    padding: 0 10px 0;
  }
  .albums__list {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .main {
    display: block;
  }
  .profiles {
    margin: 0 auto;
  }
}
